<<<<<<< HEAD
*{
	font-family: arial;
}
body{
	margin:0;
	padding: 0;
}
header{
	display: flex;
	justify-content:center;
	height: 120px;
}
=======
*{
	font-family: arial;
}
body{
	margin:0;
	padding: 0;
}
header{
	display: flex;
	justify-content:center;
	height: 120px;
}
>>>>>>> d18d633c6464e4b53e2adafcaf31d0b8a17ad60a
.container{
	display: flex;
	justify-content:space-between;/* coloca os projetos em cada canto da tela ou do container*/
	width: 990px;
	/* height: auto; */
<<<<<<< HEAD
}
.logo{
	display: flex;
	align-items:center;
	/* width: auto; */
}
.menu{
	display: flex;
	align-items:center;
}
nav ul, nav li{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul{
	display:flex; 
}
nav a{
	display:block;
	padding: 15px;
	text-decoration: none;
	font-size: 15px;
	text-transform: uppercase;
	color: #727272;
	font-family: Arial;
}
nav .active a, nav a:hover{
	background-color:#39aae1;
	color:#fff;
}
#banner{
	display: flex;
	justify-content:center;
	background-image:url('../imagens/banner.jpg');
	background-position:center;
	background-size:cover;
	height: 670px;
}
.column{
	flex-direction:column;
}
.banner_headliner{
	flex:1;
	display: flex;
	flex-direction:column;
	justify-content:center;
}
.banner_headliner h1{
	color: #fff;
	font-size: 70px;
	text-shadow: 0px 1px 1px #555;
	margin: 0;
	padding:0;
	max-width: 350px;
}
.banner_headliner h2{
	color: #fff;
	font-size: 22px;
	text-shadow: 0px 1px 1px #555;
	margin: 0;
	padding:0;
	max-width: 300px;
	margin-top: 30px;
}
.banner_options{
	/* height: auto; */
	display:flex;
}
.banner1, .banner2, .banner3{
	flex:1;
	color: #fff;
	padding: 20px;

}
.banner1{
	background-color: #39aae1;
}
.banner2{
	background-color: #0079c7;
}
.banner3{
	background-color: #2b4c99;
	/* margin-bottom: 20px; */
}
.banner_title{
	font-size: 21px;
}
.banner_desc{
	font-size: 12px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.banner_options a{
	display: inline-block;
	border: 1px solid #fff;
	padding: 5px;
	color: #fff;
	font-size:12px;
	text-decoration: none;
}
.banner_info{
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom:inline-block;
	border-bottom: 1px solid #fff;
	font-size: 12px;
	padding-bottom: 5px;
}
.banner_info_hr{
	font-size: 12px;
	margin-left: auto;
}
=======
}
.logo{
	display: flex;
	align-items:center;
	/* width: auto; */
}
.menu{
	display: flex;
	align-items:center;
}
nav ul, nav li{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul{
	display:flex; 
}
nav a{
	display:block;
	padding: 15px;
	text-decoration: none;
	font-size: 15px;
	text-transform: uppercase;
	color: #727272;
	font-family: Arial;
}
nav .active a, nav a:hover{
	background-color:#39aae1;
	color:#fff;
}
#banner{
	display: flex;
	justify-content:center;
	background-image:url('../imagens/banner.jpg');
	background-position:center;
	background-size:cover;
	height: 670px;
}
.column{
	flex-direction:column;
}
.banner_headliner{
	flex:1;
	display: flex;
	flex-direction:column;
	justify-content:center;
}
.banner_headliner h1{
	color: #fff;
	font-size: 70px;
	text-shadow: 0px 1px 1px #555;
	margin: 0;
	padding:0;
	max-width: 350px;
}
.banner_headliner h2{
	color: #fff;
	font-size: 22px;
	text-shadow: 0px 1px 1px #555;
	margin: 0;
	padding:0;
	max-width: 300px;
	margin-top: 30px;
}
.banner_options{
	/* height: auto; */
	display:flex;
}
.banner1, .banner2, .banner3{
	flex:1;
	color: #fff;
	padding: 20px;

}
.banner1{
	background-color: #39aae1;
}
.banner2{
	background-color: #0079c7;
}
.banner3{
	background-color: #2b4c99;
	/* margin-bottom: 20px; */
}
.banner_title{
	font-size: 21px;
}
.banner_desc{
	font-size: 12px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.banner_options a{
	display: inline-block;
	border: 1px solid #fff;
	padding: 5px;
	color: #fff;
	font-size:12px;
	text-decoration: none;
}
.banner_info{
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom:inline-block;
	border-bottom: 1px solid #fff;
	font-size: 12px;
	padding-bottom: 5px;
}
.banner_info_hr{
	font-size: 12px;
	margin-left: auto;
}
>>>>>>> d18d633c6464e4b53e2adafcaf31d0b8a17ad60a
#geral{
	display:flex;
	justify-content:center;
	/* height: auto; */
	/* flex-direction: column; */
<<<<<<< HEAD
}
#geral section{
	flex:2;
}
#geral aside{
	flex:1;
}
.widget_title{
	/* margin-top: 125px; */
	margin-bottom: 20px;
}
.widget_title_text{
	color: #000;
	font-size: 21px;
	font-weight: bold;
	margin-top: 20px;
}
.widget_title_bar{
	width: 50px;
	height:3px;
	background-color:#36a9e1;
	margin-top: 10px; 
}
.blocos{
	display: flex;
	flex:1;
	width: 80px;
	height: 80px;
	margin: 10px;
	background-color: #36a9e1;
}
.widget_icone{
	display: flex;
	width: 30px;
	height: 30px;
	background-color: red;
	margin:20px;
	margin-top: 0;
	margin-left: 0;
}
.widget_info{
	display: flex;
	justify-content:center;
}
.flex{
	display: flex;
	flex-wrap:wrap;
	/* margin-top: 0px; */
}
.blocos_al{
	min-width: 300px;
}
article{
	flex:1;
	min-width: 300px;
	margin-right: 20px;
}
article .news_data{
	display: flex;
	margin-bottom: 30px;
}
article .news_posted_at{
	background-color: #2b4c99;
	color: #fff;
	font-size: 12px;
	padding: 10px;
}
article .new_comments{
	background-color: #39aae1;
	color: #fff;
	font-size: 12px;
	padding: 10px;
	margin-left: 2px;
}
article.news_thumbnail{
	margin-top:30px; 
}
article .news_thumbnail img{
	width: 100%;
	height: auto;
}
article .news_title{
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 25px;
	color: #000;
}
article .news_resume{
	font-size: 15px;
	line-height: 19px;
	color:#5c5c5c;
	margin-bottom: 30px;
}
article a{
	text-decoration: none;
}
footer{
	background-color: #1e1e1e;
	display:flex;
	justify-content:center;
}
.footer_menu{
	display: flex;
}
.fm_1,.fm_2, .fm_3{
	flex:1;
	color:#fff;
	padding: 20px;
}
.fm_1{
	background-color: #39aae1;
}
.fm_2{
	background-color: #0079c7;
}
.fm_3{
	background-color: #2b4c99;
	
}
.footer_area{
	display: flex;
	color: #fff;
}
.footer_areaitem{
	flex:1;
}
footer .widget_title_text{
	color:#fff;
}
.footer_copy{
	border-top: 1px solid #2c2c2c;
	height: 40px;
	line-height: 40px;
	color: #5c5c5c;
	font-size: 12px;
	margin-top: 30px;
}
.menu_mobile{
	display: none;
	width: 40px;
	height: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-right: 20px;
}
.mm_line{
	height: 3px;
	background-color:#39aae1; 
}
@media (max-width:600px){
	.banner_headliner{
		padding:20px; 
	}
	.banner_headliner h1{
		font-size: 55px;
	}
	.banner_headliner h2{
		font-size: 17px;
	}
	.banner_options{
		height:auto;
		flex-direction: column;
	}
	.container{
		flex-direction: column;
	}
	#geral aside,
	#geral section {
		padding: 20px;
	}
	.footer_menu{
		flex-direction:column;
	}
	.footer_area{
		flex-direction:column;
		padding: 20px;
	}
	.footer_copy{
		padding-left:20px;
	}
	header .container {
		flex-direction:row;
	}
	nav ul{
		flex-direction:column;
		display: none;
		position: absolute;
    	left: 0;
    	width: 100%;
    	background-color: #fff;
	}
	header{
		height: auto;
	}
	.logo{
		padding: 20px;
	}
	.menu_mobile{
		display: flex;
		flex-direction:column;
		justify-content:space-around;
	}
	.widget_title {
		/* margin-top: 126px; */
	}
=======
}
#geral section{
	flex:2;
}
#geral aside{
	flex:1;
}
.widget_title{
	/* margin-top: 125px; */
	margin-bottom: 20px;
}
.widget_title_text{
	color: #000;
	font-size: 21px;
	font-weight: bold;
	margin-top: 20px;
}
.widget_title_bar{
	width: 50px;
	height:3px;
	background-color:#36a9e1;
	margin-top: 10px; 
}
.blocos{
	display: flex;
	flex:1;
	width: 80px;
	height: 80px;
	margin: 10px;
	background-color: #36a9e1;
}
.widget_icone{
	display: flex;
	width: 30px;
	height: 30px;
	background-color: red;
	margin:20px;
	margin-top: 0;
	margin-left: 0;
}
.widget_info{
	display: flex;
	justify-content:center;
}
.flex{
	display: flex;
	flex-wrap:wrap;
	/* margin-top: 0px; */
}
.blocos_al{
	min-width: 300px;
}
article{
	flex:1;
	min-width: 300px;
	margin-right: 20px;
}
article .news_data{
	display: flex;
	margin-bottom: 30px;
}
article .news_posted_at{
	background-color: #2b4c99;
	color: #fff;
	font-size: 12px;
	padding: 10px;
}
article .new_comments{
	background-color: #39aae1;
	color: #fff;
	font-size: 12px;
	padding: 10px;
	margin-left: 2px;
}
article.news_thumbnail{
	margin-top:30px; 
}
article .news_thumbnail img{
	width: 100%;
	height: auto;
}
article .news_title{
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 25px;
	color: #000;
}
article .news_resume{
	font-size: 15px;
	line-height: 19px;
	color:#5c5c5c;
	margin-bottom: 30px;
}
article a{
	text-decoration: none;
}
footer{
	background-color: #1e1e1e;
	display:flex;
	justify-content:center;
}
.footer_menu{
	display: flex;
}
.fm_1,.fm_2, .fm_3{
	flex:1;
	color:#fff;
	padding: 20px;
}
.fm_1{
	background-color: #39aae1;
}
.fm_2{
	background-color: #0079c7;
}
.fm_3{
	background-color: #2b4c99;
	
}
.footer_area{
	display: flex;
	color: #fff;
}
.footer_areaitem{
	flex:1;
}
footer .widget_title_text{
	color:#fff;
}
.footer_copy{
	border-top: 1px solid #2c2c2c;
	height: 40px;
	line-height: 40px;
	color: #5c5c5c;
	font-size: 12px;
	margin-top: 30px;
}
.menu_mobile{
	display: none;
	width: 40px;
	height: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-right: 20px;
}
.mm_line{
	height: 3px;
	background-color:#39aae1; 
}
@media (max-width:600px){
	.banner_headliner{
		padding:20px; 
	}
	.banner_headliner h1{
		font-size: 55px;
	}
	.banner_headliner h2{
		font-size: 17px;
	}
	.banner_options{
		height:auto;
		flex-direction: column;
	}
	.container{
		flex-direction: column;
	}
	#geral aside,
	#geral section {
		padding: 20px;
	}
	.footer_menu{
		flex-direction:column;
	}
	.footer_area{
		flex-direction:column;
		padding: 20px;
	}
	.footer_copy{
		padding-left:20px;
	}
	header .container {
		flex-direction:row;
	}
	nav ul{
		flex-direction:column;
		display: none;
		position: absolute;
    	left: 0;
    	width: 100%;
    	background-color: #fff;
	}
	header{
		height: auto;
	}
	.logo{
		padding: 20px;
	}
	.menu_mobile{
		display: flex;
		flex-direction:column;
		justify-content:space-around;
	}
	.widget_title {
		/* margin-top: 126px; */
	}
>>>>>>> d18d633c6464e4b53e2adafcaf31d0b8a17ad60a
} 